@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
/* @font-face {
  font-family: "WorkSans";
  src: url(../assets/fonts/WorkSans-Regular.ttf) format('ttf');

  font-family: "WorkSana SemiBold";
  src: url(../assets/fonts/WorkSans-SemiBold.ttf) format('ttf');
} */

.log_title p {
  animation: spin 3s linear infinite; /* Durée: 2s, répétition infinie */
}

:root {
  --primry-clr: rgb(255, 167, 44);
  --hover-clr: rgb(252, 238, 219);
  --bg-clr: #fff;
  --white-bg: #bbbbbb;
  --dark-text-clr: #363b46;
  --dark-p-clr: #363b46;
  --light-text-clr: #fff;
  --bg-log_title: #fff;
}

body.dark-mode {
  --bg-clr: #1e1e1e;
  --white-bg: #3c3c53;
  --dark-text-clr: #fff;
  --dark-p-clr: #363b46;
  --light-text-clr: #fff;
  --hover-clr: #3c3c53;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  background: var(--white-bg);
  display: flex;
  align-items: center;
}

@media (min-width:420px) {
.cont-mini, .b-menu {display: none;}
  
.globe {
  width: calc(100vw - 85px - 10px);
  height: calc(100vh - 20px);
  margin: 0 5px;
  margin-left: 0;
  background: var(--white-bg);
  transition: all .8s ease;
  border-radius: 10px;
}
.globe.active {
  width: calc(100vw - 250px - 10px);
}

.cont {
  /* font-family: 'WorkSans SemiBold'; */
  width: 85px;
  height: 100vh;
  margin: 0;
  padding: 20px;
  overflow: hidden;
  transition: all .8s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .haut {
    align-self: center;
  }
  .haut .log_title {
    width: calc(70px - 12px);
    span {
      display: none;
    }
  }
  i {display: block;}
  [class*="fill"] {
    display: none;
  }
  .l-items .l-item {
    margin-left: -33px;
  }
  .img {
    margin-left: -10px;
  }
  .last_gp a {
    .img {
      border: 5px solid var(--hover-clr);
      margin-left: -15px;
    }
  }
  .last_gp.active a {
    .img {
      border: 5px solid var(--primry-clr);
      margin-left: -15px;
    }
  }
}
.cont.active {
  width: 250px;

  .haut .log_title:hover + .sp_hide,
  .l-item a:hover + .sp_hide {display: none;}
  .haut {align-self: flex-start;}
  .haut .log_title {
    display: flex;
    justify-content: left;
    width: auto;
    border-radius: 0;

    .sp2 {
      transform: rotate(0deg);
    }
    span {
      display: inline;
    }
  }
  .img {
    margin-left: 0;
  }
}
.cont .haut .log_title {
  transition: 1s ease;
  background-color: var(--bg-log_title);
  color: var(--da);
  border: 1px solid transparent;
  border-radius: 50px;
  font-size: 50px;
  font-weight: 600;
  display: flex;

  span {
    font-size: 25px;
    margin-left: -.4rem;
    transition: transform 0.5s;
  }
  .sp2 {
    transition: .5s ease;
    transform: rotate(180deg) translate(11px, 0px);
  }
}
.log_title:hover {
  cursor: pointer;
}
.cont ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.last_gp {
  .img {color: var(--dark-p-clr);}
  span {
    font-size: 16px;
    color: var(--dark-p-clr);
  }
}
.cont u .l-item {
  align-items: center;
}
.l-item a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  border-radius: 10px;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
  color: var(--dark-text-clr);
  i {font-weight: bold;}
}
.last_gp a {
  padding: 8px;
}
.l-item a span {
  font-size: 14px;
  transition: transform 0.5s;
  transform: translateX(100px);
}
.last_gp span h4 {
  line-height: 1;
}
.last_gp span p {
  font-size: 12px;
}
.cont.active .l-item a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(50px);
}
.cont.active .last_gp a span {
  transition-delay: calc(0.02s * var(--i));
  transform: translateX(10px);
}
.l-items .l-item a{
  background-color: var(--hover-clr);
}
.l-items .l-item a:hover{
  background-color: var(--light-text-clr);
  color: var(--dark-p-clr);
}
.l-items .l-item.active a:hover {
  background-color: var(--primry-clr);
}
.l-item.active a {
  color: var(--light-text-clr);
  background-color: var(--primry-clr);
  font-weight: bold;
  i {display: none;}
  [class*="fill"] {
    display: block;
  }
}
.last_gp.active a {
  background-color: var(--primry-bg);
  font-weight: normal;
}
.last_gp .img {
  font-weight: 800;
  word-spacing: normal;
  padding: 14px;
  border-radius: 50%;
}

.haut, .p_hd {
  display: flex;
  align-items: center;
}
.l-item .sp_hide {
  margin-left: 73px;}
.haut .log_title:hover + .sp_hide, 
.l-item a:hover + .sp_hide {
  display: block;
  animation: fadeIn 1s forwards;
}
.sp_hide {
  position: absolute;
  z-index: 0;
  opacity: 0;
  font-size: 12px;
  font-weight: bold;
  text-transform: capitalize;
  width: auto;
  padding: 5px;
  background-color: var(--dark-text-clr);
  color: var(--white-bg);
  border-radius: 5px;
  margin-left: 77px;
  transition: opacity .5s ease-in;
  display: none;
}
  
}

@media (max-width:420px) {
  .cont {display: none;}

  body {flex-direction: column;}
  body.mov {
    .cont-mini {
      border-bottom: 3px solid var(--bg-clr);
    }
    .b-menu {
      border-top: 3px solid var(--bg-clr);
    }
  }
  .globe {
    width: calc(100vw);
    height: calc(100vh - 85px * 2);
    background: var(--bg-clr);
    transition: all .8s ease;
    /* border-radius: 10px; */
    overflow-y: auto;
  }
  .cont-mini {
    width: 100vw;
    height: 85px;
    margin: 0;
    padding: 20px 10px;
    background-color: var(--white-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .b-menu {
    width: calc(100vw - 10px);
    height: 80px;
    margin: 0;
    display: flex;
  }
  .b-menu ul {
    flex: 1;
    transform: translateY(-15px);
    margin: 0 10px;
    margin-bottom: 5px;
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    .p_o {display: none;}
    li {
      flex: 1;
      height: 100%;
      border-radius: 15px;
      /* margin: 0 5px; */
      /* background-color: coral; */
      display: flex;
      align-items: center;
      justify-content: center;
    }
    li.active {
      background-color: var(--bg-clr);
    }
    li a {
      width: 2.5rem;
      height: 2.5rem;
      text-decoration: none;
      font-size: 1.5rem;
      color: var(--dark-text-clr);
      background-color: coral;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .log_title {
    width: auto;
    cursor: pointer;
    /* padding: 15px 0; */
    background-color: var(--bg-log_title);
    color: var(--white-bg);
    font-size: 50px;
    font-weight: 600;
    display: flex;
    align-items: center;
    span {
      font-size: 25px;
      margin-left: -.4rem;
    }
  }
  .user {
    word-spacing: normal;
    /* background-color: var(--bg-clr); */
    padding: 15px;
    border: 4px solid var(--bg-log_title);
    border-radius: 50%;
      display: flex;
      align-items: center;
    a {
      font-size: 18px;
      font-weight: bold;
      text-decoration: none;
      white-space: nowrap;
      text-transform: capitalize;
      color: var(--dark-text-clr);
    }
  }
}